<a href="https://colab.research.google.com/github/VeeramalluVinayak/VINAYAK/blob/main/conditional%20and%20LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CONDITIONAL STATEMENTS**

In [2]:
a=30
b=50
if a>b:
  print("a is greater than b")

In [3]:
a=30
b=50
if a<b:
  print("a is less than b")

a is less than b

In [4]:
a=30
b=50
if a>b:
  print("a is greater than b")
elif b>a:
  print("b is greater a")

b is greater a

In [5]:
a=30
b=50
if a>b:
  print("a is greater than b")
else:
  print("b is greater a")

b is greater a

In [6]:
a=30
b=50
if a>b:
  print("a is greater than b")
elif b<a:
  print("b is less than a")
else:
  print("b is greater than a")

b is greater than a

In [7]:
a = 500
b = 325
c = 600
d = 100
if a>b and c>d:
  print("Both statements are true")
else:
  print("false")

Both statements are true

In [8]:
a = 500
b = 325
c = 600
d = 100
if a>b or c<d:
  print("Any one statement is true")
else:
  print("false")

Any one statement is true

In [12]:
a = 500
b = 325
c = 600
d = 100
if not a<b:
  print("Both statements are true")
else:
  print("false")

Both statements are true

In [13]:
a = 500
b = 325
c = 600
d = 100
if not a>b:
  print("Both statements are true")
else:
  print("false")

false

In [14]:
a = 500
b = 325
c = 600
d = 100
if a>b and b<c:
  print("Both statements are true")
elif a<b or c<d:
  print("Both statements are False")
else:
  print("false")

Both statements are true

In [15]:
a = 500
b = 325
c = 600
d = 100
if a>b and b>c:
  print("Both statements are true")
elif a>b or c<d:
  print("Any one statement are true")
else:
  print("false")

Any one statement are true

In [16]:
a = 500
b = 325
c = 600
d = 100
if a>b and b>c:
  print("Both statements are true")
elif not c>d:
  print("this statements are False")
else:
  print("false")

false

In [18]:
a = 500
b = 325
c = 600
d = 100
if a>b and b>c:
  print("Both statements are true")
elif not c<d:
  print("this statements are False")
else:
  print("false")

this statements are False

In [19]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [20]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [21]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [22]:
a = 33
b = 200

if b > a:
  pass

# **LOOPS STATEMENTS**

* **Python has two primitive loop commands:**

  -> **while loops**

  -> **For loop**

#  **While loop**

In [23]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [24]:
i = 1
while i < 6:
  print(i, end=" ")
  i += 1

1 2 3 4 5

In [29]:
i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [27]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i, end=" ")

1 2 4 5 6

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# **FOR LOOP**

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [42]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [43]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [44]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [45]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [46]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [47]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [50]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [51]:
for x in range(2, 30, 2):
  print(x, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [49]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [52]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [53]:
for x in [0, 1, 2]:
  pass