In [7]:
list = ["banana", "apple", "kiwi", 42]
print(list)

['banana', 'apple', 'kiwi', 42]

In [2]:
list = [" banana", "apple", "kiwi", 42]
print(len(list))

4

In [6]:
list = ["banana", "apple", "kiwi", 42]
print(list[0])
print(list[1])
print(list[3])

banana
apple
42

In [8]:
list = ["banana", "apple", "kiwi", 42]
print(type(list))

<class 'list'>

In [9]:
list = ["banana", "apple", "kiwi", 42]
print(list[-1])
print(list[-2])
print(list[-3])

42
kiwi
apple

In [10]:
list = ["banana", "apple", "kiwi", 42]
list.append("grapes")
print(list)

['banana', 'apple', 'kiwi', 42, 'grapes']

In [12]:
list = ["banana", "apple", "kiwi", 42]
list.append("grapes")
print(list)
print(list[4])

['banana', 'apple', 'kiwi', 42, 'grapes']
grapes

In [15]:
list = ["banana", "apple", "kiwi", 42]
list.append(["grapes",465])
print(list)

['banana', 'apple', 'kiwi', 42, ['grapes', 465]]

In [18]:
list = ["banana", "apple", "kiwi", 42]
list.extend(["grapes", 465])
print(list)
list2=["bgmi","pubg"]
list.extend(list2)
print(list)

['banana', 'apple', 'kiwi', 42, 'grapes', 465]
['banana', 'apple', 'kiwi', 42, 'grapes', 465, 'bgmi', 'pubg']

In [19]:
list = ["banana", "apple", "kiwi", 42]
list.insert(3, "grapes")
print(list)

['banana', 'apple', 'kiwi', 'grapes', 42]

In [20]:
list = ["banana", "apple", "kiwi", 42]
list.insert(0, "grapes")
print(list)

['grapes', 'banana', 'apple', 'kiwi', 42]

In [22]:
list = ["banana", "apple", "kiwi", 42]
list.insert(3, "grapes")
list.insert(0, "papaya")
print(list)

['papaya', 'banana', 'apple', 'kiwi', 'grapes', 42]

In [24]:
list = ['papaya', 'banana', 'apple', 'kiwi', 'grapes', 42]
some_list = list[1:4]
first_two = list[0:2]
first_two_again = list[:3]
print("Some list :  {}".format(some_list))
print(first_two)
print("First two again : {}".format(first_two_again))

Some list :  ['banana', 'apple', 'kiwi']
['papaya', 'banana']
First two again : ['papaya', 'banana', 'apple']

In [26]:
list = ['papaya', 'banana', 'apple', 'kiwi', 'grapes', 42]
some_list = list[3:5]
last_two = list[4:6]
last_two_again = list[-3:]
print("Some list :  {}".format(some_list))
print(last_two)
print("Last two again : {}".format(last_two_again))

Some list :  ['kiwi', 'grapes']
['grapes', 42]
Last two again : ['kiwi', 'grapes', 42]

In [28]:
list = 'apple'[0:3]
print(list)

app

In [32]:
list = 'apple'[-3:]
print(list)

ple

In [34]:
list = ["banana", "apple", "kiwi", 42]
kc=list.index("kiwi")
print(kc)

2

In [35]:
list = ["banana", "apple", "kiwi", 42]
try:
  kc=list.index("grapes")
except:
  kc="No grapes found"
print(kc)

No grapes found

In [36]:
list = ["banana", "apple", "kiwi", 42]
for kc in list:
  print(kc)

banana
apple
kiwi
42

In [38]:
list = ["banana", "apple", "kiwi"]
for kc in list:
  print(kc.upper())

BANANA
APPLE
KIWI

In [40]:
list = ["banana", "apple", "kiwi", 42]
index=0
while index < len(list):
  print(list[index])
  index += 1

banana
apple
kiwi
42

In [48]:
list = ["banana", "apple", "kiwi"]
sorted_list = sorted(list)
print(sorted_list)
list.sort()
print(list)

['apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi']

In [49]:
list1 = ["banana", "grapes", "apple"]
list2 = ["pubg", "bgmi", "freefire"]
list = list1+list2
print(list)

['banana', 'grapes', 'apple', 'pubg', 'bgmi', 'freefire']

In [ ]:
list = ['banana', 'grapes', 'apple', 'pubg', 'bgmi', 'freefire']
for i in range(0, len(list)):
  print(list[i])